html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg, #0b0f19, #111827);
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(18, 24, 38, 0.7);
    backdrop-filter: blur(10px);
}

/* Hero */
.hero {
    text-align: center;
    padding: 180px 20px;
}

/* Buttons */
.btn {
    background: #3b82f6;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

/* Sections */
section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #3b82f6;
}

/* Timeline */
.timeline {
    border-left: 3px solid #3b82f6;
    padding-left: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* Glass effect */
.glass {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

/* Skills */
.bar {
    background: #1f2937;
    height: 10px;
    border-radius: 5px;
}

.progress {
    background: #3b82f6;
    height: 10px;
    border-radius: 5px;
}

/* Reveal animation */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Top button */
#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    border: none;
    background: #3b82f6;
    color: white;
    cursor: pointer;
}
